<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }}</title>
    <link rel="icon" href="{{ favicon_path }}" />
    <meta name="description" content="{{ description }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ name }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ meta_image_url }}">
    <meta property="og:url" content="{{ github }}">

    <!-- Preconnect for performance -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Conditionally include custom font or default Inter font -->
    {% if custom_font %}
      <link rel="stylesheet" href="{{ custom_font }}">
    {% else %}
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
    {% endif %}

    <!-- Include KaTeX CSS if needed -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" />

    <!-- Conditionally include custom CSS -->
    {% if custom_css %}
      <link rel="stylesheet" type="text/css" href="{{ custom_css }}">
    {% endif %}

    <!-- Theme Configuration Script -->
    {% if theme %}
      <script id="theme-data" type="application/json">
        window.theme = {{ theme | tojson | safe }};
      </script>
    {% endif %}

    <!-- Conditionally include custom JS -->
    {% if custom_js %}
      <script src="{{ custom_js }}" defer></script>
    {% endif %}
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
