aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
bidict==0.22.1
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
dataclasses-json==0.5.7
Flask==2.2.3
Flask-Cors==3.0.10
Flask-SocketIO==5.3.2
frozenlist==1.3.3
greenlet==2.0.2
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
langchain==0.0.109
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.24.2
packaging==23.0
pycodestyle==2.10.0
pydantic==1.10.6
python-engineio==4.3.4
python-socketio==5.7.2
PyYAML==6.0
requests==2.28.2
six==1.16.0
SQLAlchemy==1.4.46
tenacity==8.2.2
tomli==2.0.1
typing-inspect==0.8.0
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
yarl==1.8.2
zipp==3.15.0
