.markdown-body {
  overflow-x: auto;
}

.markdown-body img {
  max-width: 100%;
}

.markdown-body *:first-child:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  margin-top: 0;
}

.markdown-body *:last-child {
  margin-bottom: 0;
}

.markdown-body p {
  white-space: break-spaces;
}
