.markdown-body {
  overflow-x: auto;
  overflow-y: hidden;
}

.markdown-body img {
  max-width: 100%;
}

.markdown-body p {
  white-space: break-spaces;
}

.ai-message .markdown-body > :first-child {
  margin-top: 0;
}
